*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(./img/pizza4\ 1.svg);
    height: 32vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
}

.vector{
    padding: 50px 25px;
    width: 12px;
}

main{
    height: 68vh;
    border-radius: 32px;
    background-color: aqua;
}